.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  color: black;
}

p,
h4,
input.search-input {
  margin: 0;
  padding: 0;
  color: black;
}

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  color: black;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  color: black;
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  color: black;
}

input {
  margin: 0;
  height: 35px;
  padding: 0px 10px;
  width: 100%;
}

.search-container {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 16px;
  background-color: white;
  padding: 8px 10px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 20px;
}

.search-input {
  width: 100%;
  border-radius: 0;
  border: 1px solid #bebebe;
  margin-top: 15px;
  font-size: 16px;
}

.step-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 20px 0;
  gap: 20px;
  /* color: #006862; */
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
